* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    background-color: tomato;
}

/* Nav Bar */

nav {
    /* background-color: cyan; */
    height: auto;
}
.bg-img {
    background-image: url(img/BG/imageedit_12_6999483651.png);
    /* background-repeat: no-repeat; */
    background-color: rgb(29, 17, 48);
    /* filter: blur(8px);
  -webkit-filter: blur(8px); */
    min-height: 900px;
    height: auto;
}
.nav-secondary-container div:first-child {
    width: 40%;
    /* background-color: darkgreen; */
    min-width: 300px;
}
.nav-secondary-container div:nth-child(2) {
    /* background-color: darkorange; */
}
.nav-secondary-container div:first-child img {
    width: 40%;
}
.nav-secondary-container div:nth-child(2) ul {
    /* background-color: darksalmon; */
    list-style-type: none;
    padding-top: 0.5em;
    height: auto;
}
.nav-secondary-container div:nth-child(2) ul li {
    padding: 0 1.5em 0 1.5em;
    height: auto;
}
.nav-secondary-container div:nth-child(2) ul li a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.btn:hover:hover {
    border-bottom: 0.25em #ff5b91 solid;
    padding-bottom: 1em;
}
