* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    /* background-color: blueviolet; */
}

/* Nav Bar */

.nav-bg-img {
    background-image: url(img/BG/imageedit_12_6999483651.png);
    min-height: 56.25em;
    background-color: rgb(35, 35, 37);
    height: auto;
}
.nav-secondary-container {
    padding-top: 2em;
}
.nav-secondary-container div:first-child {
    width: 40%;
    /* background-color: tomato; */
    min-width: 200px;
}
.nav-secondary-container div:first-child img {
    width: 40%;
}
.nav-secondary-container div:nth-child(2) {
    width: 60%;
    /* background-color: greenyellow; */
}
.nav-secondary-container div:nth-child(2) ul {
    list-style-type: none;
    padding-top: 0.5em;
}
/* .nav-secondary-container div:nth-child(2) ul li {
    padding-bottom: 1em;
} */
.nav-secondary-container div:nth-child(2) ul li a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: 0.5em;
    display: inline-block;
}
.nav-btn1:hover {
    border-bottom: 0.3em #ff5b91 solid;
}
.nav-details-container {
    margin-top: 18em;
}
.nav-details-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
    color: #ffff;
    font-size: 6.5rem;
    font-weight: bold;
    margin-bottom: 0.3em;
}
.nav-details-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 2em;
}
.nav-details-container button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 200;
    background-color: #ff5b91;
    border-radius: 50px;
    padding: 1em 0 1em 0;
    width: 20%;
    border: none;
}
.nav-btn2:hover {
    background-color: #dd84a1;
}

/* Media Query */

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .nav-details-container {
        margin-top: 6em;
    }
    .nav-details-container h2 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 0.75em;
    }
    .nav-details-container p {
        font-size: 2rem;
        font-weight: 200;
        margin-bottom: 2em;
    }
    .nav-bg-img {
        min-height: 56.25em;
        background-color: rgb(35, 35, 37);
        height: auto;
    }
    .nav-details-container button {
        padding: 1em 0 1em 0;
        width: 75%;
    }
    .nav-secondary-container div:first-child img {
        width: 70%;
    }
}
