* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    /* background-color: blueviolet; */
}

/* Nav Bar */

.nav-bg-img {
    background-image: url(img/BG/imageedit_12_6999483651.png);
    min-height: 56.25em;
    background-color: rgb(35, 35, 37);
    height: auto;
}
.nav-secondary-container {
    padding-top: 2em;
}
.nav-secondary-container div:first-child {
    width: 40%;
    /* background-color: tomato; */
    min-width: 200px;
}
.nav-secondary-container div:first-child img {
    width: 40%;
}
.nav-secondary-container div:nth-child(2) {
    width: 60%;
    /* background-color: greenyellow; */
}
.nav-secondary-container div:nth-child(2) ul {
    list-style-type: none;
    padding-top: 0.5em;
}
.nav-secondary-container div:nth-child(2) ul li {
    min-height: 3em;
}
.nav-secondary-container div:nth-child(2) ul li a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: 0.5em;
    display: inline-block;
}
.nav-btn1:hover {
    border-bottom: 0.3em #ff5b91 solid;
}
.nav-details-container {
    margin-top: 18em;
}
.nav-details-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
    color: #ffff;
    font-size: 6.5rem;
    font-weight: bold;
    margin-bottom: 0.3em;
}
.nav-details-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 2em;
}
.nav-details-container button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 200;
    background-color: #ff5b91;
    border-radius: 50px;
    padding: 1em 0 1em 0;
    width: 20%;
    border: none;
}
.nav-btn2:hover {
    background-color: #dd84a1;
}

/* Section */

.section-1-secondary-container {
    margin-top: 6em;
}

.section-1-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
    color: #2a353b;
    font-size: 3rem;
    font-weight: 600;
    min-height: 2em;
    margin-bottom: 0.5em;
}
.section-1-secondary-container h2:hover {
    border-bottom: 0.1em #ff5b91 solid;
}
.section-1-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}

/* Section 2 */

/* .section-2-secondary-container div div img {
    width: 100%;
} */
.section-2-secondary-container div div h3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
    color: #2a353b;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 0 1em 0;
}
.section-2-secondary-container div div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.section-2-row-1 {
    margin-top: 5em;
}

.section-2-row-2 {
    margin-top: 5em;
}
.col-div1,
.col-div2,
.col-div3,
.col-div4,
.col-div5,
.col-div6 {
    border: 3px #e7e7e7 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    width: 31%;
    margin: 0 1% 0 1%;
    min-width: 300px;
}

.img-div1 {
    width: 17%;
    /* border: 1px black solid; */
    border-radius: 50%;
    padding: 1.1em;
    background-color: #fde0e2;
}
.img-div1 img {
    width: 100%;
    margin: 0 auto;
}
.img-div2 {
    width: 17%;
    border-radius: 50%;
    padding: 1.7em;
    background-color: #fde0e2;
}
.img-div2 img {
    width: 53%;
    margin: 0 auto;
}
.img-div3 {
    width: 17%;
    /* border: 1px black solid; */
    border-radius: 50%;
    padding: 1.1em;
    background-color: #fde0e2;
}
.img-div3 img {
    width: 100%;
    margin: 0 auto;
}
.img-div4 {
    width: 17%;
    /* border: 1px black solid; */
    border-radius: 50%;
    padding: 1.1em;
    background-color: #fde0e2;
}
.img-div4 img {
    width: 100%;
    margin: 0 auto;
}
.img-div5 {
    width: 18%;
    border-radius: 50%;
    padding: 1.9em;
    background-color: #fde0e2;
}
.img-div5 img {
    width: 100%;
    margin: 0 auto;
}
.img-div6 {
    width: 17%;
    /* border: 1px black solid; */
    border-radius: 50%;
    padding: 1.1em;
    background-color: #fde0e2;
}
.img-div6 img {
    width: 100%;
    margin: 0 auto;
}

/* Section 3 */
.section-3-secondary-container {
    margin-top: 6em;
}
.section-3-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
}
.section-3-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}
.section-3-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.section-3-secondary-container button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 200;
    background-color: #ff5b91;
    border-radius: 50px;
    padding: 1em 0 1em 0;
    width: 15%;
    border: none;
    margin-top: 1em;
}
.section-3-secondary-container button:hover {
    background-color: #dd84a1;
}
.section-3-h2-mobile1 {
    display: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

/* Section 4 */

/* .section-4-secondary-container {

} */
.section-4-secondary-container {
    margin-top: 12em;
}
.section-4-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
}
.section-4-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}
.section-4-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}

/* Section 5 */
.section-5-secondary-container div img {
    width: 13%;
    margin-bottom: 1em;
}
.section-5-secondary-container {
    margin-top: 4em;
}
.section-5-secondary-container div h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 1.5em;
}
.section-5-secondary-container div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.1rem;
    font-weight: 400;
}
.section-5-img-2 {
    width: 20% !important;
}
.section-5-img-4 {
    width: 15% !important;
}

/* Section 6 */
.section-6-secondary-container {
    margin-top: 12em;
}
.section-6-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
}
.section-6-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}
.section-6-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}

/* Section 7 */

/* Carousel 1 */
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item,
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item
        + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner
        .active.carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Section 8 */
.section-8-secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
}

.section-8-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
    margin-bottom: 1em;
}
.section-8-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.section-8-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}

/* Section 9 */

.section-9-secondary-container {
    margin-top: 2em;
    min-height: 30em;
}
.section-9-contents-div-1 {
    width: 20%;
    min-width: 300px;
}
.section-9-contents-div-1 div img {
    width: 40%;
}
.section-9-contents-div-1 h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #636c70;
    font-size: 1.5rem;
    font-weight: bold;
}
.section-9-contents-div-1 div div h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #636c70;
    font-size: 1rem;
    font-weight: bold;
}
.section-9-contents-div-1 div div {
    margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
}
.section-9-contents-div-1 div div:hover {
    border: #faaac1 4px solid;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 2px #888;
}

/* Section 10 */
/* .section-10-secondary-container {
    margin-top: 3em;
} */
.section-10 {
    background-color: #ff5b91;
    padding: 8em 0 8em 0;
}
.section-10-contents-div img {
    width: 25%;
}
.section-10-contents-div {
    border: 2px white dotted;
    padding: 2em 0 2em 0;
    width: 23%;
    margin: 0 1% 0 1%;
    border-radius: 7px;
    min-width: 300px;
}
.section-10-contents-div h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}
.section-10-contents-div p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

/* Section 11 */
.section-11-secondary-container {
    margin-top: 6em;
}
.section-11-contents-div-1 div img,
.section-11-contents-div-2 div img {
    width: 25%;
}

.section-11-contents-div-1 div div h3,
.section-11-contents-div-2 div div h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 2rem;
    font-weight: 600;
    min-height: 1.5em;
}
.section-11-contents-div-1 div div h4,
.section-11-contents-div-2 div div h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    min-height: 1.5em;
    color: #6c6c6c;
}
.section-11-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    min-height: 3em;
    margin-top: 1em;
}
.section-11-contents-div-1,
.section-11-contents-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    box-shadow: 0px 3px 4px 2px #888;
    margin: 0 2% 0 2%;
    border-radius: 7px;
    padding: 2em;
    min-width: 400px;
}

/* Section 12 */

.section-12-secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
}

.section-12-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
    margin-bottom: 1em;
}
.section-12-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.section-12-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}

/* Section 14 */

.section-14-secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
}

.section-14-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
    margin-bottom: 1em;
}
.section-14-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.section-14-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}

/* Section 15 */
.section-15-secondary-container {
    margin-top: 4em;
}
.section-15-contents-div {
    width: 31%;
    margin: 0 1% 0 1%;
}
.section-15-contents-div div h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1em;
}
.section-15-contents-div div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #423e33;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0.5em;
}
.section-15-contents-div div ul li {
    list-style-type: none;
    /* padding: 0 0 0 1em; */
    color: #586b75;
}
.section-15-ul-div {
    width: 40%;
}
.section-15-contents-div div p:hover {
    color: #fa608f;
}

/* Section 16 */

.section-16-secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.section-16-secondary-container h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.5em;
    margin-bottom: 1em;
}
.section-16-secondary-container p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #586b75;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.section-16-secondary-container h2:hover {
    border-bottom: 3px #ff5b91 solid;
}
/* Media Query */

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    /* Nav */

    .nav-details-container {
        margin-top: 6em;
    }
    .nav-details-container h2 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 0.75em;
    }
    .nav-details-container p {
        font-size: 2rem;
        font-weight: 200;
        margin-bottom: 2em;
    }
    .nav-bg-img {
        min-height: 56.25em;
        background-color: rgb(35, 35, 37);
        height: auto;
    }
    .nav-details-container button {
        padding: 1em 0 1em 0;
        width: 75%;
    }
    .nav-secondary-container div:first-child img {
        width: 70%;
    }

    /* Section 1 */
    .section-1-secondary-container h2 {
        font-size: 3rem;
        min-height: 2em;
        margin-bottom: 0.5em;
    }
    .section-1-secondary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Section 2 */
    .section-2-row-1,
    .section-2-row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Section 3 */
    .section-3-secondary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-3-h2-mobile1 {
        display: block;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 3rem;
        font-weight: bold;
    }
    .section-3-h2-web {
        display: none;
    }
    .section-3-secondary-container button {
        width: 40%;
        border-radius: 60px;
    }

    /* Section 5 */
    .section-5-secondary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-5-secondary-container div {
        width: 100%;
    }

    /* Section 9 */

    .section-9-contents-div-1 {
        width: 100%;
        min-width: 300px;
    }

    /* Section 10 */
    .section-10-secondary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Section 11 */
    .section-11 {
        display: none;
    }
}
