* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* Nav bar 1 */

.nav-1 {
    background-color: #dffdf4;
    padding: 0.3em 0 0.3em 0;
}
.container {
    width: 80%;
    /* background-color: red; */
    margin: 0 auto;
}
.nav-1-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
.nav-1-ul li {
    /* padding: 0.3rem 1rem 0.3rem 1rem; */
    align-self: center;
    align-content: center;
}
.nav-1-ul li a {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}
#lang-label {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 10;
    padding-left: 1em;
}
#phone-img {
    height: 20px;
    align-content: center;
    align-items: center;
}
.download {
    box-shadow: 1px 0 0 0 rgb(207, 207, 207);
    padding: 0.3em 1em 0.3em 0.5em;
}
.blog {
    box-shadow: 1px 0 0 0 rgb(207, 207, 207);
    padding: 0.3em 1em 0.3em 1em;
}

/* Nav Bar 2 */

.nav-2 {
    /* background-color: hotpink; */
    height: auto;
    margin-top: 2em;
}
.nav-2-secondary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-2-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-2-ul li {
    padding: 0 1em 0 1em;
}
.nav-2-ul li:first-child {
    padding: 0 2.5em 0 1em;
}
.nav-2-ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
}
#nav-2-search {
    width: 110%;
    /* padding: 1.25em 0 1.25em 0; */
    padding: 1.25em;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
}
#nav-2-search::placeholder {
    font-weight: 300;
}

.nav-2-ul li:last-child a {
    font-weight: 700;
}

/* Section1 */

.section-1 {
    margin-top: 3em;
}

.section-1-secondary-container {
    display: flex;
    flex-direction: row;
}

.section-1-contents-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-1-img-div {
    width: 50%;
}
.section-1-contents-div h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 3rem;
    font-weight: 200;
    width: 60%;
    margin-bottom: 1em;
    /* background-color: chartreuse; */
}
.section-1-contents-div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #646464;
    font-size: 1.25rem;
    margin-bottom: 4em;
    /* background-color: blueviolet; */
}
.section-1-contents-div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00de9a;
    color: #ffff;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 1em 2em 1em 2em;
}
.section-1-contents-div button:hover {
    background-color: #61f1c6;
}

/* Section 2 */

.section-2 {
    margin-top: 3em;
    background-color: #dffdf4;
    padding: 3em 0 3em 0;
    margin-bottom: 12em;
}
.section-2-secondary-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.section-2-contents-div,
.section-2-img-div {
    min-width: 200px;
    width: 50%;
}
.section-2-img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-2-img-div img {
    width: 60%;
    margin-bottom: 10px;
}
.section-2-img-div div {
    /* background-color: darkorange; */
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px #bae9eb solid;
    border-radius: 10px;
}

.section-2-contents-div h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.section-2-contents-div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #646464;
    font-size: 1.25rem;
}
.section-2-img-div div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #646464;
    font-size: 1rem;
    text-align: center;
}

/* Section 3 */

.section-3-secondary-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: auto;
}
.section-3-img-div,
.section-3-contents-div {
    min-width: 200px;
    width: 50%;
}
.section-3-contents-div {
    display: flex;
    flex-direction: column;
}
.section-3-contents-div div {
    display: flex;
    margin-bottom: 2em;
}
.section-3-img-div img {
    width: 70%;
}
.section-3-contents-div div img {
    width: 3%;
}
.section-3-contents-div h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.section-3-contents-div p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #646464;
    font-size: 1.25rem;
}
.section-3-contents-div p:first-child {
    margin-bottom: 1em;
}
.section-3-contents-div div p {
    margin-left: 1em;
}

.section-3-know-more-btn-div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00de9a;
    font-size: 1.5rem;
    color: white;
    padding: 0.8em 2em 0.8em 2em;
    border: none;
    border-radius: 7px;
}
.section-3-know-more-btn-div button:hover {
    background-color: #61f1c6;
}

.section-3-watch-video-btn-div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffff;
    font-size: 1.5rem;
    color: #00de9a;
    padding: 0.8em 2em 0.8em 2em;
    border: none;
    border-radius: 7px;
}
.section-3-watch-video-btn-div button:hover {
    color: #61f1c6;
}

/* Section 4 */

.section-4 {
    margin-top: 8em;
    background-color: #e7fdf6;
}
.section-4-secondary-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: auto;
}
.section-4-contents-div {
    width: 50%;
}
.section-4-img-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.section-4-img-div img {
    width: 70%;
}
.section-4-secondary-contents-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    height: auto;
}

.section-4-secondary-contents-div div:first-child {
    display: flex;
    flex-direction: column;
}
.section-4-secondary-contents-div div:last-child {
    display: flex;
    flex-direction: column;
}

/* Media Query */

@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }

    /* nav bar 1 */

    .nav-1-ul {
        flex-flow: wrap;
        height: auto;
    }

    /* Section 1 */
    .section-1-secondary-container {
        flex-flow: wrap;
        height: auto;
    }

    .section-1-contents-div {
        flex-flow: wrap;
        height: auto;
    }
    /* #section-1-banner-img {
        display: none;
    } */

    /* Section 2 */
    .section-2-secondary-container {
        flex-flow: wrap;
        height: auto;
    }
}

/* nav bar 2 */

@media screen and (max-width: 850px) {
    .nav-2-secondary-container {
        flex-flow: wrap;
        height: auto;
    }
    .nav-2-ul {
        flex-flow: wrap;
        height: auto;
    }
    html {
        font-size: 10px;
    }
    /* Section 4 */
    .section-4-img-div img {
        display: none;
    }
}
